extends layout

block content
  h1= title
  p.
    Welcome to #{title} - Do what you need to do, to make it to the end.

  br
  br

  i.icon-code(style="font-size: 20px;") &nbsp;
  a(href="/riddle1", style="font-size: 20px;") Start

  br