extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href="/riddle1") riddle1
  br
  a(href="/riddle2") riddle2
  br
  a(href="/riddle3") riddle3
  br
  a(href="/riddle4") riddle4
  br
  a(href="/riddle5") riddle5
  br
  a(href="/riddle6") riddle6
  br
  a(href="/riddle7") riddle7
  br
  a(href="/riddle8") riddle8
  br
  a(href="/riddle9") riddle9
  br
  a(href="/riddle10") riddle10
