extends layout

block content
  div.banner
    i(class="#{ icon }") &nbsp; #{ status }

  h1 Riddle 4
  p Things can appear jumbled at first...

  // maybe try /theanswer
  // or
  // &#x48;&#x49;&#x44;
  //- HID

  script console.log('@DWoodiwiss\' tweet on the 7th of September was good?');