extends layout

block content
  div.banner
    i(class="#{ icon }") &nbsp; #{ status }

  h1 Riddle 9
  p Where is the university of Winchester?&nbsp;
    i.icon-globe

  form(action="/location", method="POST")
    i.icon-map-marker
    label(for="lat") Latitude:
    input(name="lat", type="text")
    br
    i.icon-map-marker
    label(for="lon") Longitude:
    input(name="lon", type="text")
    br
    input#submit(name="submit", type="submit", text="Submit")


  script console.log('itouchmap');
