extends layout

block content
  div.banner
    i(class="#{ icon }") &nbsp; #{ status }

  h1 Riddle 2
  p Why don't you try that again...
  form(action="rid2", method="POST")
    i.icon-user
    label(for="username") Username:
    input(name="username", type="text")
    br

    i.icon-lock
    label(for="password") Password:
    input(name="password", type="hidden")
    br
    input#submit(name="submit", type="submit", text="Submit")

  script console.log('The username and password should still be the same.');