extends layout

block content
  div.banner
    i(class="#{ icon }") &nbsp; #{ status }

  h1 Riddle 10
  p riddle 10 content

  form(action="/ultimate", method="POST")
    label(for="username") Your Name:
    input(name="username", type="text")
    br
    label(for="lat") Top 53cret password:
    input(name="password", type="password")
    br
    input#submit(name="submit", type="submit", text="Submit")


  script console.log('Reverse it and de-hackify it.');