extends layout

block content
  div.banner
    i(class="#{ icon }") &nbsp; #{ status }

  h1 Riddle 1
  p Please login:

  form(action="riddle1", method="POST")

    i.icon-user
    label(for="username") Username:
    input(name="username", type="text")
    br

    i.icon-lock
    label(for="password") Password:
    input(name="password", type="password")
    br
    input#submit(name="submit", type="submit", text="Submit")

    script console.log('Web developer tools will be your new best friend...');