extends layout

block content
  div.banner
    i(class="#{ icon }") &nbsp; #{ status }

  h1 Riddle 3

  label(for="password") Random password:
  input(name="password", type="password", value="st4rdust")

  p Hmm, that password might be worth remembering.

  // try /ziggy

  script console.log('...');